<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySwiftProduct.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>329F6BA2240D352F008E0721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329F6BB8240D3531008E0721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329F6BC3240D3531008E0721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
